:root {
	font-family: Inter, sans-serif;
	font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
	background-color: hsl(0, 0%, 8%);
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

html {
	background-color: hsl(0, 0%, 8%);
	margin: 0;
	padding: 0;
}

h1,
p {
	color: white;
}

section {
	background-color: hsl(0, 0%, 12%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Inter;
	border: 1px solid;
	border-radius: 10px;
	text-align: center;
	padding: 5%;
	width: 60%;
	max-width: 300px;
	margin: 0 auto;
	margin-top: 5rem;
}

button {
	background-color: hsl(0, 0%, 20%);
	color: hsl(0, 0%, 100%);
	width: 100%;
	max-width: 20rem;
	border-radius: 0.8rem;
	border: none;
	padding: 1rem 5rem 1rem 5rem;
	margin-top: 0.5rem;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
}

button:hover {
	background-color: green;
	color: black;
}

img {
	border-radius: 50%;
	width: 30%;
}

.location {
	color: green;
}

a:visited {
	color: green;
}

a:hover {
	background-color: green;
	color: hsl(0, 0%, 12%);
}

footer {
	color: #fff;
	text-align: center;
	padding: 20px;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
